body {
  background-color: #0f0f0f;
  color: white;
}

.recipe-container {
  border-bottom:solid;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.recipe-header{
  display: flex;
  position: fixed;
  background-color: #0f0f0f;
  top: 0;
  width: 100%;
  flex:initial;
  height: 3em;
  text-align: center;
  border-bottom: solid #fa5c05;
  align-items: center;
  gap: 50px;
  box-shadow: 0px 8px 20px #51515a3b;
}

.recipe-info{
  padding: 0px;
}

.store-dropdown-content{
  display: none;
  background-color: #0f0f0f;
  position:absolute;
  width: auto;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
  z-index: 1;
}

.store-dropdown-content a{
  display: flex;
  justify-content: center;
  white-space: nowrap;
  color: white;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
}

.price-dropdown-content{
  display: none;
  background-color: #0f0f0f;
  position:absolute;
  width: auto;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
  z-index: 1;
}

.price-dropdown-content a{
  display: flex;
  justify-content: center;
  white-space: nowrap;
  color: white;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  display:block;
}

.show{
  display: block;
}


.recipe-grid{
  display:flex;
  padding-top: 50px;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-item{
  color: white;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
}

.recipe-item ul{
  text-align:left;
}

.recipe-item-button{
  margin: 15px;
  width: 400px;
  height: auto;
  padding: 15px 15px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #51515a3b;
}

.recipe-item-button:hover{
  background-color: #474747;
}

.recipe-footer{
  flex:initial;
  height: 3em;
  text-align: center;
  border-top: solid;
}

li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.highlight-button{
  color: orange;
}

.hide{
  display:none;
}


[class$="-dropdown"]{
  flex:initial;
  position: relative;
  display: inline-block;
  padding-left: 25px;
}

[class$="-dropbtn"]{
  border: none;
  background-color: #0f0f0f;
  color: white;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
}

[class$="-dropbtn"]:hover{
  background-color: #474747;
}

[id$="Dropdown"] a:hover{
  background-color: #474747;
}


